body{
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    padding-left: 100px;

}
.contentt{
    padding: 50px;
    gap: 10px;
}

.offCanvas {
    display: none;
}

.getting-started{
    background-color: blue;
    margin: 100px;
    border-radius: 10px;
}

.buttonSearch{
    margin: 40px;
    width: 200px;
}

.Testimo {
    height: 250px;
}

.Carrausel {
    width: 1400px;
    
}

.card-body{
    height: 250px;
    margin-top: 50px;
}

.card-car{
    display: flex;
    /* flex-direction: row; */
    flex-flow: column;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.card-car img{
    display: flex;
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 100px;
}


.button-car {
    background-color:  green;
    border-radius: 10px;
    text-decoration: solid;
    height: 50px;
}

.text-result {
    display: flex;
    flex-direction: column;
}


#card-car {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.card-all-cars {
    display: flex;
}

@media (max-width: 768px){
    
    .offCanvas{
        display: unset;
        position: sticky;
        width: 100%;
        margin: 50px;
        
    }
    .desktop {
        display: none;
    }
    .banner{
        padding: 0px;

    }
    /* #our-service{
        flex-direction: column;
        flex-basis: content;
    } */

   .contentWhyUs{
       text-align: center;
   }
   .cardWhyUs{
    gap: 12px;
    justify-content: center;
   }

   .cardWhyUs .content{
       flex-basis: content;
   }
   .accordion {
    text-align: center; 
    }

.gambarFooter{
    width: 100%;
    }

    
    .center {
        resize: auto;
    }

}

